{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Demo page</h1>
    <h3>div in a container</h3>
    <button class="btn btn-yellow">Button</button>
    <button class="btn btn-red">Button</button>
    <button class="btn btn-blue">Button</button>
    <button class="btn btn-cyan">Button</button>
    <button class="btn btn-green">Button</button>
    <button class="btn btn-dark">Button</button>
    <a href="#">link</a>
</div>
<form class="form-group">
    <h3>form control</h3>
    <input class="input-field" id="ex-input" type="text" placeholder="Input field...">
</form>
{% endblock content %}